body{
    background-color: rgba(15, 0, 128, 0.815);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#heading{
    position:fixed;
    width:100%;
    background-color: rgba(38, 0, 255, 0.828);
}
h1{
    color: red;
}
h5{
    color:grey;
}